/* -------------------------------- */
/* UTILITY */

.wid-80 {
    margin: auto;
    width: 60%;
}

.flex {
    display: flex;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 150px;
}

i {
    color: white;
    margin-left: 10px;
}

a {
    outline: none;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-right: 8px;
  }

.mrg-10 {
    margin-bottom: 10px;
}

body {
    font-family: sans-serif;
    width: 480px;
}


/* -------------------------------- */
/* HEADER */


/* HEADER *//*NAVBAR*/

nav {
    justify-content: space-between;
    background-color: #0184fc;
    align-items: center;
    padding: 20px;
}



/* BODY *//* SECTION CARD*/

.card-container {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    align-items: center;
}



.card-1 {
    background-color: #b4ddfe;
    padding: 20px;
    border-radius: 25px;
}

img {
    width: 100%;
    display: block;
}