/* -------------------------------- */
/* UTILITY */

/* -------------------------------- */
/* UTILITY */

.wid-80 {margin: auto; width: 80%;}
.wid-60 {margin: auto; width: 60%;}
.wid-50 {margin: auto; width: 50%;}


.flex {display: flex;}
.flex-between {display: flex; justify-content: space-between;}
.flex-center {display: flex; justify-content: center; align-items: center;}
.flex-align {display: flex; align-items: center;}
.flex-bas-2 { flex-basis: 50;}

.mrg-lft-20 { margin-left: 20px;}
.mrg-rgt-20 { margin-right: 20px;}
.mrg-lft-10 {margin-left: 10px;}
.mrg-rgt-10 {margin-right: 10px;}
.mrg-10 { margin-bottom: 10px;}
.mrg-bttm-40 {margin-bottom: 40px;}
.mrg-bttm-20 {margin-bottom: 20px;}
.mrg-top-40 {margin-top: 40px;}


.logo {
    width: 150px;
}

/* i {
    color: white;
    margin-left: 10px;
} */


a {
    outline: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    /* font-weight: bold; */
    /* margin-right: 8px; */
}

a:hover {
    color: rgb(193, 218, 255);
}

.button1 {
    padding: 8px 18px;
    background-color: #0160ff;
    color: white;
    transition: background-color 0.5s;
}

.button-white {
    background-color: white;
    color: #0184fc;
    padding: 5px 10px;
    border-radius: 20px;
}

ul li {
	list-style-type: none;
}



h3 {
    color: #0184fc;
    font-size: 25px;
    font-weight: bold;
}








/* -------------------------------- */
/* HEADER */


/* HEADER *//*NAVBAR*/

nav {
    justify-content: space-between;
    background-color: #0184fc;
    align-items: center;
    padding: 20px;
    position: relative;
}

#list-nav {
    color: white;
    font-size: 20px;
    line-height: 30px;
    position: absolute;
    z-index: 10;
    text-align: end;
    background-color: #0184fc;
    padding: 10px;
    border-radius: 15px;
    right: 0px;
    display: none;
}



.hamb {
    color: white;
    font-size: 30px;
}

#list-nav-2 {
    display: none;
}

.hamb:active #list-nav {
    display: block;
}

#list-nav:hover {
    display: block;
}

/* ---------------------------------------- */

/* MAIN *//* SECTION CARD*/

































/* -------------------------------------------------- */
/* RESPONSIVE */

/* DESKTOP */
@media only screen and (min-width: 768px) {

    body {
        font-family: sans-serif;
        width: 100vw;
    }
    
    
    section {
        margin: 20px 0;
        width: 60%;
        margin: auto;
    }

/* --------------------------------------- */

    header {
        background-color:#0184fc;
    }

    nav {
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        width: 60%;
        margin: auto;
    }

    #list-nav-2 {
        display: flex;
    }



    #div-hamb {
        display: none;
    }

/* ---------------------------------------- */



}









/* TABLET */
@media only screen and (min-width: 480px) {
    
    body {
        font-family: sans-serif;
        width: 100%;
    }
    
    
    section {
        margin: 20px 0;
    }

/* ---------------------------------------- */

    nav {
        justify-content: space-between;
        align-items: center;
        padding: 20px;
    }

    .hamb {
        color: white;
        font-size: 30px;
    }
    
    #list-nav-2 {
        display: none;
    }

    .hamb:active #list-nav {
        display: block;
    }

    #list-nav:hover {
        display: block;
    }

/* ---------------------------------------- */


   

}





/* MOBILE */
@media only screen and (max-width: 480px) {










}